.card {
    --card-gradient: #5E9AD9, #E271AD;
    background-image: linear-gradient(var(--card-gradient), rgba(123, 32, 32, 0) max(9.5rem, 27vh));
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(0, 0, 0, 1) 5%, rgba(255, 255, 255, 0) 100%);
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
  }
  

  .card::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    pointer-events: none;
  }
  
  .card img {
    border-radius: 0.5rem 0.5rem 0 0;
    width: 100%;
    mix-blend-mode: overlay;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
  }
  
  .card h3, .card p {
    position: absolute;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    margin: 0;
    padding: 0.5rem;
  }
  
  .card h3 {
    top: 10px;
    left: 10px;
    font-size: 1.25rem;
  }
  
  .card p {
    bottom: 10px;
    left: 10px;
    font-size: smaller;
  }
  
  .card-wrapper {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 0.75rem;
  }

  .card:hover {
    box-shadow: 0.1rem 0.1rem 0.5rem -0.03rem rgba(132, 196, 245    , 0.8);
    transform: scale(1.01);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }
  
  .lockIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black; /* Adjust the color as needed */
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
  padding: 10px; /* Adjust padding as needed */
}