.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.path {
  width: 55vw;
  position: absolute;
  top: 55%;
  left: 55%;
  transform: translate(-50%, -50%);
}

.start {
  width: 50px;
}

.shuttle {
  width: 50px;
}
@media (max-width: 768px) {
  /* Adjust styles for smaller screens */
  .path {
    height: 50%;
    top: 5%;
    right: 5%;
  }
}

.finish {
  width: 50px;
}
