.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.path {
  width: 60vw;
  position: absolute;
  top: 50%;
  left: 47%;
  transform: translate(-50%, -50%);
}

.start {
  width: 50px;
  position: absolute;
  top: 85%;
  left: 15%;
  transform: translate(-50%, -50%);
}

.shuttle {
  width: 50px;
}

.finish {
  width: 50px;
}

@media (max-width: 768px) {
  .path {
    width: 70vh;
  }
}
