.card-wrapper {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
    grid-gap: 1.5rem;
  }
  
  .card {
    perspective: 1000px;
  }
  
  .card-inner {
    position: relative;
    width: 200px;
    height: 300px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .card:hover .card-inner {
    transform: rotateY(180deg);
  }
  
  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 0.5rem;
    overflow: hidden;
  }
  
  .card-front {
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 5%, rgba(255,255,255,0) 100%);
    background-color: #fff;
    box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
  }
  
  .card-back {
    background: #fff;
    transform: rotateY(180deg);
    border-radius: 7px;
  }
  .card-back:focus {
    background: #fff;
    transform: rotateY(180deg);
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #a93608;
  }


  
  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card h3,
  .card p {
    position: absolute;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    margin: 0;
    padding: 0.5rem;
  }
  
  .card h3 {
    top: 10px;
    left: 10px;
    font-size: 1.25rem;
  }
  
  .card p {
    bottom: 10px;
    left: 10px;
    font-size: smaller;
  }
  .back-image{
    opacity: 50%;
  }
.back-text{
    top:10px;
}
.back-rarity{
    bottom:5px;
}
.back-stats{
    padding: 50px;
}
  